* {
  font-family: "Inter", sans-serif;
  color: #deebf8;
}

.container {
  height: 80vh;
  background-image: url("../public/reactjs-icon2.png");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.main-fun-facts {
  list-style: none;
  word-spacing: 2.5px;
  line-height: 25px;
}

ul li::before {
  content: "\2022";
  color: #61dafb;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
